<div class="grid justify-center mt-6 gap-2">
  <div class="card card-compact w-96 bg-base-100 shadow-2xl shadow-black">
    <div class="card-body">
      <h2 class="card-title justify-center font-bold uppercase">Ingresar <span class="text-primary">monto</span></h2>
      <div class="grid">
        <label for="">Monto a ingresar:</label>
        <input class="input input-primary mb-4" type="text" placeholder="Ejemplo: 325412" [(ngModel)]="currentOpportunity.amount">
        <div class="form-control">
          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle toggle-primary" checked />
            <span class="label-text ml-3">Efectivo?</span>
          </label>
        </div>
      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-primary btn-sm" (click)="save()">Guardar</button>
        <button class="btn btn-secundary btn-sm">Cancelar</button>
      </div>
    </div>
  </div>
</div>
